@keyframes rotate {
  from {
    transform: rotateY(0deg); }
  to {
    transform: rotateY(360deg); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

@font-face {
  font-family: "Dosis";
  src: url("../../css/fonts/Dosis-Regular.ttf"); }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-size: 1.6rem;
  font-family: Dosis, sans-serif;
  letter-spacing: 0.2rem; }

.sep {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem; }
  .sep .line {
    border-bottom: 0.1rem solid #494949;
    width: 45%; }
  .sep .circle {
    width: 4px;
    height: 4px;
    border: 1px solid #494949;
    border-radius: 50%;
    background-color: #494949;
    margin: 0 2rem; }

header {
  height: 100vh;
  background-image: radial-gradient(circle farthest-side, rgba(161, 134, 57, 0.6), rgba(255, 255, 255, 0.1)), url(../../img/header-photo.jpg);
  background-position: center;
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }
  header .logo {
    z-index: 1;
    position: fixed;
    transform-origin: 63px 50%;
    animation-duration: 5s;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear; }
  header nav {
    position: fixed;
    right: 0;
    z-index: 1;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    header nav .menu_icon {
      display: block;
      cursor: pointer; }
      header nav .menu_icon div {
        width: 35px;
        height: 5px;
        background-color: #946c00;
        margin: 6px 0;
        transition: 0.4s; }
      @media (min-width: 42.625em) {
        header nav .menu_icon {
          display: none; } }
    header nav ul {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      max-height: 0;
      overflow: hidden;
      transition: 0.7s;
      list-style: none; }
      header nav ul li {
        background-color: rgba(148, 108, 0, 0.801);
        padding: 1rem 2rem;
        border-bottom: 1px solid gray;
        text-align: right; }
        header nav ul li:hover {
          background-color: white;
          cursor: pointer; }
          header nav ul li:hover a {
            color: goldenrod;
            font-weight: 500; }
        header nav ul li a {
          text-decoration: none;
          color: whitesmoke; }
    header nav .visible {
      max-height: 250px; }
    @media (min-width: 42.625em) {
      header nav {
        padding-top: 2rem; }
        header nav ul {
          display: flex;
          flex-direction: row;
          max-height: 250px;
          list-style: none; }
          header nav ul li {
            position: relative; }
            header nav ul li:not(:first-child)::after {
              content: "";
              position: absolute;
              left: -2px;
              top: 20%;
              height: 60%;
              width: 1px;
              border-right: 1px solid gray; }
            header nav ul li:hover {
              background-color: white; }
            header nav ul li a {
              text-decoration: none; } }
  header .heading {
    text-shadow: 7px 7px 3px #000000;
    display: block;
    color: white;
    font-size: 4rem;
    position: absolute;
    left: 50vw;
    top: 55vh;
    transform: translate(-50%, -50%); }
    header .heading span {
      font-size: 5rem; }

#hizmetlerimiz {
  background-color: #808080;
  color: white;
  padding: 0 1rem; }
  #hizmetlerimiz h1 {
    text-align: center;
    font-size: 3rem;
    padding: 1.5rem 0; }
  #hizmetlerimiz .container {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 0.5rem;
    margin: 1rem 0;
    overflow: hidden; }
    #hizmetlerimiz .container h2 {
      text-align: center;
      padding-bottom: 0; }
    #hizmetlerimiz .container p {
      padding: 0.5rem; }
    #hizmetlerimiz .container ul {
      padding: 0.5rem; }
    #hizmetlerimiz .container .pic {
      position: relative;
      overflow: hidden;
      height: 30rem; }
      #hizmetlerimiz .container .pic img {
        position: absolute;
        display: inline-block;
        left: 0;
        top: 0;
        height: 30rem;
        width: 100%;
        transition: transform 1s;
        object-fit: cover; }
    #hizmetlerimiz .container:last-child {
      margin-bottom: 0; }

#iletisim {
  background-color: #808080;
  color: white;
  height: 100vh; }
  #iletisim h1 {
    text-align: center;
    font-size: 3rem;
    padding: 1.5rem 0; }
  #iletisim .icons {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; }
    #iletisim .icons div {
      display: flex;
      margin: 2rem; }
      #iletisim .icons div div {
        display: flex;
        flex-direction: column;
        margin: 0 0 0 2rem; }
